body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1{
    font-size: 70px;
    border-left: 4px solid orangered ;
    margin: 0;
    padding-left: 10px;
    
}
.add-color{
    color:tomato;
}
.inline{
    display: flex;
}
.inline p{
    font-size: larger;
}
.half-width{
    width: 60%;
    padding-top: 10%;
    padding-left: 10%;
}
.half-width img{
    width: 10%;
    padding-top: 10%;
    padding-right: 20%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 9, 9), yellow);
    padding: 10px 50px;
    border-radius: 5px;
    color:lightyellow;
}
h2{ 
    color:teal;
    font-size: 60px;
    text-align: center;
    margin-top: 5%;
}
.objective{
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
}
.image-added img{
    width: 60%;
    padding: 10px;
}
.container {
    display: flex;
    justify-content:space-evenly;
    padding: 50px;
    margin:20px,10px;
}
#mission{
    background-color: lightskyblue;
    padding: 10px 20px;
}
#vision{
    background-color: lightsteelblue;
    padding: 10px 20px;
}
#goals{
    background-color:lightslategray;
    padding: 10px 20px;
}
